body {
    font-size: 100%;
    color: #ffffff;
    background-color: #849d8f;
  }

h1 {
  font-size: 60px;
  line-height: 60.35px;
}

h2 {
  font-size: 35px;
  line-height: 41px;
}

h3 {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}
